*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 2px solid red;*/
}

body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


main{
  margin-bottom: 50px;
}

.container{
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/*header*/

header{
  display: flex;
  align-items: center;
  height: 80px;
  background-color: #3061e0;
}

header .container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul{
  display: flex;
  list-style: none;
  gap: 3rem;
  color: white;
}

li:hover{
  text-decoration: underline red;
  color: black;
}

header .button{
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  color: #292d30;
}


/*jumbotron*/
.jumbotron{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-color: aqua;
  background-image: url(../img/jumbo.png);
  background-size: cover;
}

.jumbotron .content{
  max-width: 800px;
  text-align: center;
  color: white;
}

.jumbotron .jbutton{
 display: flex;
 width: 70%;
 justify-content: space-evenly;
}
.b1{
  background-color: white;
  color: #292d30;
}

.b2{
  background-color: #292d30;
  color: white;
}

.b1, .b2{
  padding: 10px;
  border-radius: 20px;
}

.content p{
  padding: 2rem;
}



/*Main*/
main{
  margin-top: 50px;
}

section{
margin-bottom: 50px;
}

section.bg-grey{
  background-color: #f6f6f6;
}

#row-rev{
  flex-direction: row-reverse;
}

section .container{
 display: flex;
 justify-content:flex-end;
  /*debug*/
 min-height: 500px;
}

section .container .img{
  width: 60%;
  /*debug*/
}

section .container .text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40%;
  padding-left: 25%;
/*debug*/

}


section.section-bottom.container{
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/*footer*/

footer{
  background-color: #292d30;
}

.footer-top{
  display: flex;
  /**/

}

.footer-bottom{
  /**/

}

.footer-top .col-social{
  width: calc(100% / 3);
  min-height: 200px;
  color: #3061e0;

  /*debug*/

}

footer p{
  color: #3061e0;
}

 footer ul{
  list-style: none;
  gap: 3rem;
  color: white;
}

.footer-top .col-menu{
  width: calc(100% / 6);
  min-height: 200px;

  /*debug*/
}

